<!DOCTYPE html>

<html lang="en">

<head>
    
<meta charset="UTF-8">
    
<title>{{ car_name }}</title>

</head>

<body>

<h1 style="text-shadow: 0px 0px 7px rgba(50, 39, 39, 0.75);
	color: #0B517F;
	font-size: 50px; text-align: center ">{{ car_name }}</h1>

<p style="text-shadow: 0px 0px 6px rgba(98, 46, 46, 0.73);
	color: #652113;
	font-size: 20px; text-align: center">The Year: {{ car_year }}</p>

<p style="text-shadow: 0px 0px 6px rgba(98, 46, 46, 0.73);
	color: #652113;
	font-size: 20px; text-align: center">The Number of Ratings: {{ car_ratings }}</p>

<p style="text-shadow: 0px 0px 6px rgba(98, 46, 46, 0.73);
	color: #652113;
	font-size: 20px; text-align: center">The Car Score (out of 10): {{ car_score }}</p>

</body>

</html>